# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
align_multiline_argument = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
